/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.App {
  font-family: "Open Sans", sans-serif;
} */

body {
  background-color: rgb(214, 211, 211, 0.5);
  /* background-color: rgba(16, 157, 238, 0.5); */

  font-family: sans-serif;
}

/* HEADER */
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 3.5px solid rgba(214, 211, 211, 0.4);
}

.nav-right {
  display: flex;
  justify-content: space-around;
  margin-right: 100px;
}

#nav-right {
  margin-top: 7px;
  text-decoration: none;
  color: #0533b1;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

.about-link:hover {
  color: #007cff;
  transform: scale(1.1);
  transition: 0.3s ease;
}
.home-link:hover {
  color: #007cff;
  transform: scale(1.1);
  transition: 0.3s ease;
}
.crypto-link:hover {
  color: #007cff;
  transform: scale(1.1);
  transition: 0.3s ease;
}

#searchBar {
  margin-top: 20px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  border: none;
  font-size: 17px;
}

.btn-submit {
  margin-left: 7px;
  width: 50px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(241, 241, 241);
  border: none;
  font-size: 20px;
  font-weight: 900;
}

.logo {
  margin-top: 20px;
  margin-left: 40px;
  height: 45px;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.logo:hover {
  transform: scale(1.2);
  transition: transform 1s ease;
}

/* MAIN */

.homepage {
  display: flex;
}

.news {
  margin-top: 30px;
  margin-left: 30px;
}

.sentence {
  margin-left: 30px;
}

main {
  margin-left: 30px;
  display: flex;
}

.words {
  text-decoration: none;
  font-size: 16px;
  margin-top: 0;
  margin-left: 44px;
}

.brand-link {
  margin-left: 50px;
  text-decoration: none;
  color: cornflowerblue;
  font-style: italic;
}

#initial-stocks {
  border-radius: 20px;
  width: 1000px;
  height: 120px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.infoLeft {
  width: 200px;
  font-size: 2rem;
}

#btn {
  text-decoration: none;
  color: white;
}
.left1 {
  margin-top: 15px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.left2 {
  margin-top: 5px;
  margin-left: 10px;
  padding-top: 0;
  font-weight: 300;
  font-size: 30px;
  font-style: italic;
  color: black;
}

.infoMid {
  height: 100px;
  width: 500px;
  font-size: 22px;
  display: flex;
  margin-right: 10px;
}

.mid1 {
  margin-left: 15px;
  margin-top: 15px;
  font-size: 48px;
}

.mid2 {
  margin-left: 15px;
  margin-top: 0px;
  font-style: italic;
}

.infoRight {
  width: 300px;
  height: 100px;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

.barGraph {
  margin-top: 0px;
}

.infoRight p {
  text-align: left;
}

.initial-box {
  box-shadow: 0 3px 20px 0 rgb(0 77 165 / 7%);
  background-image: linear-gradient(-41deg, #0533b1 0%, #459ff0 100%);
}

.initial-box:hover {
  box-shadow: 0 3px 20px 0 rgb(0 77 165 / 7%);
  background-image: linear-gradient(-41deg, #459ff0 0%, #0533b1 100%);
  transform: scale(1.01);
}

/* NEWS */
.news {
  height: 680px;
  width: 570px;
  margin: 0;
  margin-left: 50px;
  overflow: scroll;
  /* white-space: nowrap; */
}

.news-title {
  margin-left: 50px;
}

.newsSection {
  margin-bottom: 25px;
  width: 550px;
  height: 115px;
  display: flex;
}

.newsSection:hover {
  margin-bottom: 25px;
  width: 550px;
  height: 115px;
  display: flex;
  transform: scale(1.05);
}

.newsImage {
  margin-right: 15px;
  width: 200px;
  height: 115px;
}

.source {
  margin-top: 0;
  font-weight: 900;
  font-size: 15px;
}
.headline {
  margin-top: 0;
  font-size: 20px;
  width: 300px;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
/* DETAIL */

.detail-container {
  display: flex;
  flex-direction: column;
}

.detail {
  display: flex;
}

.graph {
  margin-left: 20px;
  margin-top: 40px;
  margin-right: 50px;
  width: 930px;
  height: 520px;
}

.detail-intro {
  width: 700px;
  display: flex;
  height: 140px;
}

.intro-logo {
  margin-top: 30px;
  margin-left: 30px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.intro-head {
  display: flex;
}

.intro-symbol {
  margin-top: 35px;
  margin-left: 30px;
  font-size: 70px;
}

.intro-name {
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 25px;
}

.intro-ex {
  margin-top: 0px;
  margin-left: 30px;
  text-align: right;
  font-size: 30px;
}

.detail-price {
  margin-top: 40px;
  width: 700px;
  font-size: 50px;
  height: 40px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-price-words {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.detail-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 700px;
  height: 250px;
  font-size: 20px;
}

.info-one {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 250px;
}
.info-two {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100px;
  height: 250px;
}

.info-three {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 250px;
}

.info-four {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100px;
  height: 250px;
}

.description {
  margin: 20px;
  font-size: 20px;
}

.initial-info {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 100px;
  font-size: 16px;
}

.initial-one {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 900;
}
.initial-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.initial-three {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 900;
}

.initial-four {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-logo {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-word {
  margin-top: 100px;
  margin-left: 670px;
  font-size: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CRYPTO */

.crypto-container {
  margin-top: 50px;
  margin-left: 190px;
  display: flex;
  flex-direction: column;
}

.crypto-title {
  border-bottom: 1px solid gray;
  display: flex;
  width: 1200px;
  height: 50px;
  text-align: center;
}

.crypto-rank-title {
  margin-top: 10px;
  width: 10%;
}

.crypto-name-title {
  width: 30%;
  margin-top: 10px;
  padding-left: 35px;
}

.crypto-price-title {
  padding-left: 60px;
  padding-right: 50px;
  width: 20%;
  margin-top: 10px;
}

.crypto-marketcap-title {
  padding-right: 60px;
  width: 20%;
  margin-top: 10px;
}

.crypto-change-title {
  width: 20%;
  margin-top: 10px;
}

.crypto-data {
  border-bottom: 1px solid gray;
  display: flex;
  width: 1200px;
  height: 65px;
}

.crypto-img {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 70px;
  width: 40px;
  height: 40px;
}

.crypto-name {
  width: 300px;
  /* border: 2px solid red; */
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.crypto-name-name {
  width: 130px;
  /* border: 2px solid blue; */
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.crypto-name-symbol {
  margin-left: 30px;
  margin-top: 8px;
  width: 70px;
  /* border: 2px solid blue; */
  margin-left: 30px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: gray;
}

.crypto-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.crypto-info {
  margin-top: 12px;
  display: flex;
  width: 30%;
}

.crypto-price {
  padding-left: 90px;
  text-align: left;
  /* border: 2px solid red; */
  width: 20%;
  display: flex;
  align-items: center;
}

.crypto-marketcap {
  /* border: 2px solid red; */
  padding-left: 17px;
  text-align: left;
  width: 20%;
  display: flex;
  align-items: center;
}

.crypto-change {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto-title-word {
  margin-left: 30px;
  margin-bottom: 40px;
  color: #0533b1;
}

/* ABOUT */

.about-container {
  margin-top: 10px;
  margin-left: 50px;
}

.about-h1 {
  font-size: 40px;
}

.img-li {
  margin-top: 30px;
  display: flex;
}

.paragraphs {
  font-size: 24px;
  font-weight: 700;
}

.about-ul {
  font-size: 25px;
  margin-top: 30px;
  display: flex;
  font-weight: bold;
  margin-bottom: 30px;
}

.giphy {
  margin-right: 80px;
  width: 350px;
}

.triangle {
  margin-right: 5px;
  color: blue;
}

.about-logo {
  margin-top: 20px;
  margin-left: 450px;
  width: 480px;
}

.about-detail {
  margin-right: 180px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 22px;
}
.about-detail-two {
  margin-right: 220px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 22px;
}

.about-header {
  display: flex;
}
