body {
  background-color: aqua;
}

/* HEADER */
.header {
  background-color: rgb(64, 226, 43);
  display: flex;
  justify-content: space-between;
}

.nav-right {
  display: flex;
}

.news-link {
  margin-left: 20px;
}

.search-bar {
  margin-top: 30px;
}
